:root{
   --primarysection: #0B1F33;
}



#Section{
  color: var(--primarysection);
   text-align: center;
  background-image: url("../images/photo-150.avif");
  padding-top: 150px;
   background-size: cover;
   background-position:center;
}



.button-sections{
   color: var(--primarysection);
   border: solid 1px  var(--primarysection);
   border-radius: 15px;
   padding: 10px 15px;
   background-color:transparent;
}


.button-sections:hover{
   color: brown;
   cursor: pointer;
   font-size: 30px;
}
