#craps-game{
    background-image: url(../images/casinoimg.jpg);
    color: white;
    background-position: center top;
  
}


.crap-head{
    text-align: center;
    margin-top: 40px;
}

.craps-container{
    width: min(500px, 80vw);
    height: min(350px, 80vh);
    border: 2px solid white;
     margin: 60px auto 0 auto;
    background-image: url('/images/photo-4500.avif');
    background-size: cover;
    background-position: center;
   
}